# Tarea 1

In [2]:
import pandas as pd

## Problema 1: Clasificacion de Hongos

Los hongos son organismos vivos pertenecientes al Reino Fungi. De manera similar a los seres humanos, los hongos sin iuncapaes de realizar la fotosintesis y se alimentan de hidratos de carbono ya elaborados [1](https://kataix.umag.cl/sib-aysen/hongusto/meet-fungi/). 

| Agaricus | Lepiota   |
|---|---|
| <img src="./figures/agaricus.jpg" width="200" height="200">| <img src="./figures/lepiota.jpg" width="210" height="300"> |

Algunos de estos Hongos son comestibles, como el *Agaricus bisporus* (champiñón común). Sin embargo, dependiendo de ciertas caracteristicas como el color, tamaño y láminas, podemos identificar generos venenosos.

El siguiente conjunto de datos incluye informacion descriptiva de 23 especies de hongos con branquias de la familia Agaricus y Lepiota. Cada especie se identifica como comestible (`e`) o venenosa (`p`)

| atributo | valores   |
|---|---|
|Cap-shape | {x, b, s, f, k, c} |
|Cap-surface | {s, y, f, g} |
|Cap-color |{n, y, w, g, e, p, b, u, c, r} |
|Bruises | {t, f} |
|Odor | {p, a, l, n, f, c, y, s, m} |
|Gill-attachment | {f, a, d, n} |
|Gill-spacing | {c, w, d} |
|Gill-size | {n, b} |
|Gill-color | {k, n, g, p, w, h, u, e, b, r, y, o} |
|Stalk-shape | {e, t} |
|Stalk-root | {e, c, b, r, u, z} |
|Stalk-surface-above-ring | {s, f, k, y} |
|Stalk-surface-below-ring | {s, f, y, k} |
|Stalk-color-above-ring | {w, g, p, n, b, e, o, c, y} |
|Stalk-color-below-ring | {w, p, g, b, n, e, y, o, c} |
|Veil-type | {p, u} |
|Veil-color | {w, n, o, y} |
|Ring-number | {o, t, n} |
|Ring-type | {p, e, l, f, n, c, s, z} |
|Spore-print-color | {k, n, u, h, w, r, o, y, b} |
|Population | {s, n, a, v, y, c} |
|Habitat | {u, g, m, d, p, w, l} |
|Class | {p, e} |

In [3]:
dataframe = pd.read_csv('./data/mushroom.dat')
dataframe.sample(3)

,Cap-shape,Cap-surface,Cap-color,Bruises,Odor,Gill-attachment,Gill-spacing,Gill-size,Gill-color,Stalk-shape,...,Stalk-color-above-ring,Stalk-color-below-ring,Veil-type,Veil-color,Ring-number,Ring-type,Spore-print-color,Population,Habitat,Class
1875,x,f,e,t,n,f,c,b,p,t,...,p,w,p,w,o,p,n,y,d,e
2173,x,y,g,t,n,f,c,b,n,t,...,g,w,p,w,o,p,k,v,d,e
5129,x,s,b,t,f,f,c,b,p,t,...,w,w,p,w,o,p,h,v,g,p

In [30]:
# import numpy as np

# for col in dataframe.columns:
#     num_interr = dataframe[col] == '?'
#     num_interr = num_interr.astype(float)
    
#     ptge = num_interr.sum()/len(num_interr)
#     print('{}: {:.2f}'.format(col, ptge))

#### 1.1 Grafique la distribucion de clases

#### 1.2 Identifique valores faltantes

#### 1.3 Preprocese los datos para entrenar un algoritmo de aprendizaje automatico

#### 1.4 Divida el conjunto de entrenamiento

#### 1.5 Entrene el algoritmo

#### 1.5 Valide el algoritmo

#### 1.4 Concluya los resultados obtenidos

## Problema 2: Prediciendo la demanda de taxis en NYC

En este problema, construiremos un modelo de regresion para predecir el numero de texis solicitados en la ciudad de Nueva York. Estos modelos suelen ser utiles, por ejemplo, para monitorear el traficio en la ciudad.

Los datos para este problema se encuentran en el archivo `nyc_taxi.csv`. La primera columna indica la hora del dia en minutos, mientras que la segunda columna indica la cantidad de taxis que estan recogiendo pasajeros en ese momento.

Se necesita un modelo que reciba la hora en minutos como predictor y prediga la demanda promedio de texis para ese momento del dia. Los modelos deben ser ajustados en el conjunto de entrenamiento y evaluados sobre el conjunto de test. Ademas, la metrica de evaluacion debe ser R2.

#### 2.1 Cargue los datos y describa la distribucion de los atributos

In [10]:
data = pd.read_csv('./data/nyc_taxi.csv')
data.sample(2)

      TimeMin  PickupCount
756     650.0         30.0
1050    675.0         30.0

#### 2.2 Separe el conjunto de entrenamiento

#### 2.3 Grafique el conjunto de entrenamiento utilizando un scatter plot

#### 2.4 Brevemente explique el patron de comportamiento de los datos a lo largo del dia

#### 2.5 En el grafico deberia ver un agujero entre los minutos 500 y 550 donde la demanda es aproximadamente 20-30. Explique el fenomeno

 #### 2.6 Entrene un modelo de regresion

#### 2.7 Reporte y explique el valor de R2

#### 2.8 Que significa un R2 = 0? y si fuese negativo?